extends layout

block content
    div(class="text-center" style="position: absolute; top: 50%; width: 30%; left:50%; transform: translate(-50%, -50%);")
        h2(class="text-info") Could not connect to the server
        br
        br
        a(href="/" class="ht-tm-element btn btn-block btn-outline-info btn-lg") Try again!